@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border text-fontColor;
  font-family: "Mont";
}

body {
}

/* h1 {
  font-size: ;
} */

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}

a:hover {
  /* color: #535bf2; */
}

.text-input:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  position: relative;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  /* border-color: #646cff; */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    /* color: #747bff; */
  }

  button {
    background-color: #f9f9f9;
  }
}

.stepper button,
.stepper span {
  cursor: default !important;
}

.primary,
.outlined {
  @apply flex max-w-max max-h-12 items-center justify-center px-8 py-4 rounded-full text-sm font-extrabold hover:bg-opacity-70 transition-all focus:outline-0;
}

.primary {
  @apply text-white bg-primary;
}

.outlined {
  @apply border border-darkOutline text-fontColor bg-backgroundColor;
}

#canvas div.konvajs-content canvas {
  background-image: url("./assets/watermark.png") !important;
  background-repeat: repeat !important;
  background-size: 100px !important;
}

button[aria-label]:focus:after,
button[aria-label]:hover:after {
  @apply absolute -top-8 -left-8 block overflow-hidden rounded-sm p-1 text-sm text-center z-10 transition-all duration-150 bg-backgroundColor;
  content: attr(aria-label);
}
